@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-container {
    width: 100%;
    height: 25rem;
    z-index: -2;
    position: relative;
}

.main-container-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-container-dark {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 25rem;
    position: absolute;
    z-index: -1;
    top: 0;
    opacity: 0.5;
}

.nav {
    z-index: 10;
    transition: background-color 0.3s;
    width: 100%;
    /*height: 4rem;*/
    display: flex;
    justify-content: space-between;

    align-items: center;
    position: fixed;
    top: 0;
    color: white;
    /*padding: 5px;*/
    padding-right: 1rem;
    padding-left: 1rem;
}

.links {
    display: flex;
    font-size: 1.2rem;

}

.links a {

    padding: 10px;
    transition: background-color 0.1s;
}

.links a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.logo {
    height: 80px;
    font-size: 1.5rem;
    font-weight: bold;
    /*margin-left: 1rem;*/
}

.links li {
    margin-right: 2rem;
}

.big-text {
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.3);
    font-size: 300px;
    position: absolute;
    width: 100%;
    top: 70px;
}

.search-bar {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 15rem;
}

.search-bar > input {
    min-width: 30rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    background-color: white;
    padding-left: 1rem;
    font-size: 1.5rem;
    color: black;
}

.items-card-box {
    width: 90%;
    margin: 4rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*padding-top: 4rem;*/
    /*padding-bottom: 4rem;*/
    gap: 2rem;

}

.items-card {
    /*border-radius: 0.5rem;*/
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
    background: white;
    height: min-content;
    transition: transform 0.1s;
}

.items-card:hover {
    transform: scale(110%, 110%);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

.items-card-img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 0.5rem;

}

.items-card-img > img {
    padding: 1rem;
    padding-bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.items-card-text {
    background: black;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.2rem;

}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
    /*margin-bottom: 1rem;*/
}



.footer {
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: space-between;

    bottom: 0;
    color: black;
    background-color: white;
    padding: 2rem 6rem;
}

.scroll-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}
.sec-heading {
    margin-bottom: 2rem;
    font-size: 3rem;
    text-decoration: underline;
    display: flex;
}
#home, #about, #service, #contact {
    min-height: 500px;
     padding:  100px 3rem;
}

#about {
    color: white;
    background: url(../img/resturant-img.jpeg) no-repeat black right bottom;
    min-height: 800px;
}
#about p{
    max-width: 50%;
}
#service{
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: right;
    place-content: flex-end;
}
#service p{
    max-width: 50%;
}
.resturant-img{
    height:600px;
}

#contact {
    background-color: black;
    color: white;
}
form,
input,
textarea,
button {
    font-family: inherit;
    font-size: initial;
}
.form-group label {
    display: block;
    margin: 2rem 0 0.5rem 0;
    font-size: 1.2rem;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
    transition: border 0.15s;
}
.form-group input[type="text"],
.form-group input[type="email"] {
    /*height: 4.6rem;*/
}
.form-group textarea {
    resize: vertical;
}
.submit {
    font-weight: bold;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    border: none;

    cursor: pointer;
    transition: background 0.15s;
}
i {
    margin-right: 0.5rem;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
    border: 1px solid #222;
}
.button {
    float: left;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: #fff;
    overflow: hidden;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}

.button:hover {
    width: 200px;
}

.button:nth-child(1):hover .icon {
    background: #e1306c;
}

.button:nth-child(2):hover .icon {
    background: #4267b2;
}

.button:nth-child(3):hover .icon {
    background: #1da1f2;
}

.button:nth-child(4):hover .icon {
    background: #0e76a8;
}

.button:nth-child(5):hover .icon {
    background: #ff0000;
}

.button:nth-child(6):hover .icon {
    background: #333;
}

.button:nth-child(1) span {
    color: #e1306c;
}

.button:nth-child(2) span {
    color: #4267b2;
}

.button:nth-child(3) span {
    color: #1da1f2;
}

.button:nth-child(4) span {
    color: #0e76a8;
}

.button:nth-child(5) span {
    color: #ff0000;
}

.button:nth-child(6) span {
    color: #333;
}

.button .icon {
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-in-out;
}

.button:hover i {
    color: #fff;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.footer-logo img{
    height:100%;
    width:100%;
}